#                                   WEB SCRAPPING

# QUESTION NUMBER 1

In [ ]:
from urllib.request import urlopen

In [17]:
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')

In [18]:
from bs4 import BeautifulSoup
bs = BeautifulSoup(html,'html.parser')

In [19]:
titles = bs.find_all(['h1','h2','h3','h4','h5','h6'])

print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# QUESTION NUMBER 2

In [23]:
#!pip install requests

Requirement already satisfied: requests in c:\users\acer\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\acer\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests) (1.25.11)

In [25]:
#!pip install html5lib

Requirement already satisfied: html5lib in c:\users\acer\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\acer\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from html5lib) (1.15.0)

In [26]:
#!pip install bs4

Requirement already satisfied: bs4 in c:\users\acer\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\acer\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\acer\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [27]:
url = 'https://www.imdb.com/chart/top/'

In [29]:
import requests

In [31]:
r = requests.get(url)

In [32]:
htmlcontent = r.content

In [34]:
from bs4 import BeautifulSoup
bs = BeautifulSoup(htmlcontent,'html.parser')

In [40]:
title = []

for i in bs.find_all('td' ,class_='titleColumn'):
    title.append(i.text)
title

['\n      1.\n      The Shawshank Redemption\n(1994)\n',
 '\n      2.\n      The Godfather\n(1972)\n',
 '\n      3.\n      The Godfather: Part II\n(1974)\n',
 '\n      4.\n      The Dark Knight\n(2008)\n',
 '\n      5.\n      12 Angry Men\n(1957)\n',
 "\n      6.\n      Schindler's List\n(1993)\n",
 '\n      7.\n      The Lord of the Rings: The Return of the King\n(2003)\n',
 '\n      8.\n      Pulp Fiction\n(1994)\n',
 '\n      9.\n      Il buono, il brutto, il cattivo\n(1966)\n',
 '\n      10.\n      The Lord of the Rings: The Fellowship of the Ring\n(2001)\n',
 '\n      11.\n      Fight Club\n(1999)\n',
 '\n      12.\n      Forrest Gump\n(1994)\n',
 '\n      13.\n      Inception\n(2010)\n',
 '\n      14.\n      The Lord of the Rings: The Two Towers\n(2002)\n',
 '\n      15.\n      Star Wars: Episode V - The Empire Strikes Back\n(1980)\n',
 '\n      16.\n      The Matrix\n(1999)\n',
 '\n      17.\n      Goodfellas\n(1990)\n',
 "\n      18.\n      One Flew Over the Cuckoo's Nest\n(1975)\n",
 '\n      19.\n      Shichinin no samurai\n(1954)\n',
 '\n      20.\n      Se7en\n(1995)\n',
 '\n      21.\n      The Silence of the Lambs\n(1991)\n',
 '\n      22.\n      Cidade de Deus\n(2002)\n',
 '\n      23.\n      La vita è bella\n(1997)\n',
 "\n      24.\n      It's a Wonderful Life\n(1946)\n",
 '\n      25.\n      Star Wars\n(1977)\n',
 '\n      26.\n      Saving Private Ryan\n(1998)\n',
 '\n      27.\n      Interstellar\n(2014)\n',
 '\n      28.\n      Sen to Chihiro no kamikakushi\n(2001)\n',
 '\n      29.\n      The Green Mile\n(1999)\n',
 '\n      30.\n      Gisaengchung\n(2019)\n',
 '\n      31.\n      Léon\n(1994)\n',
 '\n      32.\n      Seppuku\n(1962)\n',
 '\n      33.\n      The Pianist\n(2002)\n',
 '\n      34.\n      The Usual Suspects\n(1995)\n',
 '\n      35.\n      Terminator 2: Judgment Day\n(1991)\n',
 '\n      36.\n      Back to the Future\n(1985)\n',
 '\n      37.\n      Psycho\n(1960)\n',
 '\n      38.\n      The Lion King\n(1994)\n',
 '\n      39.\n      Modern Times\n(1936)\n',
 '\n      40.\n      American History X\n(1998)\n',
 '\n      41.\n      City Lights\n(1931)\n',
 '\n      42.\n      Hotaru no haka\n(1988)\n',
 '\n      43.\n      Whiplash\n(2014)\n',
 '\n      44.\n      Gladiator\n(2000)\n',
 '\n      45.\n      The Departed\n(2006)\n',
 '\n      46.\n      The Intouchables\n(2011)\n',
 '\n      47.\n      The Prestige\n(2006)\n',
 '\n      48.\n      Casablanca\n(1942)\n',
 '\n      49.\n      Once Upon a Time in the West\n(1968)\n',
 '\n      50.\n      Rear Window\n(1954)\n',
 '\n      51.\n      Nuovo Cinema Paradiso\n(1988)\n',
 '\n      52.\n      Alien\n(1979)\n',
 '\n      53.\n      Apocalypse Now\n(1979)\n',
 '\n      54.\n      Memento\n(2000)\n',
 '\n      55.\n      Raiders of the Lost Ark\n(1981)\n',
 '\n      56.\n      The Great Dictator\n(1940)\n',
 '\n      57.\n      The Lives of Others\n(2006)\n',
 '\n      58.\n      Django Unchained\n(2012)\n',
 '\n      59.\n      Paths of Glory\n(1957)\n',
 '\n      60.\n      Sunset Blvd.\n(1950)\n',
 '\n      61.\n      WALL·E\n(2008)\n',
 '\n      62.\n      Avengers: Infinity War\n(2018)\n',
 '\n      63.\n      The Shining\n(1980)\n',
 '\n      64.\n      Witness for the Prosecution\n(1957)\n',
 '\n      65.\n      Spider-Man: Into the Spider-Verse\n(2018)\n',
 '\n      66.\n      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb\n(1964)\n',
 '\n      67.\n      Joker\n(2019)\n',
 '\n      68.\n      Mononoke-hime\n(1997)\n',
 '\n      69.\n      Oldeuboi\n(2003)\n',
 '\n      70.\n      Kimi no na wa.\n(2016)\n',
 '\n      71.\n      The Dark Knight Rises\n(2012)\n',
 '\n      72.\n      Aliens\n(1986)\n',
 '\n      73.\n      Coco\n(2017)\n',
 '\n      74.\n      Once Upon a Time in America\n(1984)\n',
 '\n      75.\n      Capharnaüm\n(2018)\n',
 '\n      76.\n      Avengers: Endgame\n(2019)\n',
 '\n      77.\n      Das Boot\n(1981)\n',
 '\n      78.\n      Tengoku to jigoku\n(1963)\n',
 '\n      79.\n      Hamilton\n(2020)\n',
 '\n      80.\n      American Beauty\n(1999)\n',
 '\n      81.\n      Toy Story\n(1995)\n',
 '\n      82.\n      3 Idiots\n(2009)\n',
 '\n      83.\n      Amadeus\n(1984)\n',
 '\n      84.\n      Braveheart\n(1995)\n',
 '\n      85.\n      Inglourious Basterds\n(2009)\n',
 '\n      86.\n      Good Will Hunting\n(1997)\n',
 '\n      87.\n      Star Wars: Episode VI - Return of the Jedi\n(1983)\n',
 '\n      88.\n      2001: A Space Odyssey\n(1968)\n',
 '\n      89.\n      Reservoir Dogs\n(1992)\n',
 '\n      90.\n      M - Eine Stadt sucht einen Mörder\n(1931)\n',
 '\n      91.\n      Taare Zameen Par\n(2007)\n',
 '\n      92.\n      Vertigo\n(1958)\n',
 '\n      93.\n      Citizen Kane\n(1941)\n',
 '\n      94.\n      Idi i smotri\n(1985)\n',
 '\n      95.\n      Jagten\n(2012)\n',
 '\n      96.\n      Requiem for a Dream\n(2000)\n',
 "\n      97.\n      Singin' in the Rain\n(1952)\n",
 '\n      98.\n      North by Northwest\n(1959)\n',
 '\n      99.\n      Eternal Sunshine of the Spotless Mind\n(2004)\n',
 '\n      100.\n      Ladri di biciclette\n(1948)\n',
 '\n      101.\n      Ikiru\n(1952)\n',
 '\n      102.\n      Lawrence of Arabia\n(1962)\n',
 '\n      103.\n      Pather Panchali\n(1955)\n',
 '\n      104.\n      The Kid\n(1921)\n',
 '\n      105.\n      Full Metal Jacket\n(1987)\n',
 '\n      106.\n      Dangal\n(2016)\n',
 '\n      107.\n      The Father\n(2020)\n',
 '\n      108.\n      The Apartment\n(1960)\n',
 '\n      109.\n      A Clockwork Orange\n(1971)\n',
 '\n      110.\n      Taxi Driver\n(1976)\n',
 '\n      111.\n      Incendies\n(2010)\n',
 '\n      112.\n      Metropolis\n(1927)\n',
 '\n      113.\n      Double Indemnity\n(1944)\n',
 '\n      114.\n      The Sting\n(1973)\n',
 '\n      115.\n      Jodaeiye Nader az Simin\n(2011)\n',
 '\n      116.\n      Scarface\n(1983)\n',
 '\n      117.\n      1917\n(2019)\n',
 '\n      118.\n      Snatch\n(2000)\n',
 "\n      119.\n      Le fabuleux destin d'Amélie Poulain\n(2001)\n",
 '\n      120.\n      To Kill a Mockingbird\n(1962)\n',
 '\n      121.\n      Toy Story 3\n(2010)\n',
 '\n      122.\n      Dune\n(2021)\n',
 '\n      123.\n      Per qualche dollaro in più\n(1965)\n',
 '\n      124.\n      Up\n(2009)\n',
 '\n      125.\n      Indiana Jones and the Last Crusade\n(1989)\n',
 '\n      126.\n      L.A. Confidential\n(1997)\n',
 '\n      127.\n      Heat\n(1995)\n',
 '\n      128.\n      Yôjinbô\n(1961)\n',
 '\n      129.\n      Rashômon\n(1950)\n',
 '\n      130.\n      Ran\n(1985)\n',
 '\n      131.\n      Die Hard\n(1988)\n',
 '\n      132.\n      Green Book\n(2018)\n',
 '\n      133.\n      Der Untergang\n(2004)\n',
 '\n      134.\n      Monty Python and the Holy Grail\n(1975)\n',
 '\n      135.\n      All About Eve\n(1950)\n',
 '\n      136.\n      Batman Begins\n(2005)\n',
 '\n      137.\n      Some Like It Hot\n(1959)\n',
 '\n      138.\n      Unforgiven\n(1992)\n',
 '\n      139.\n      Bacheha-Ye aseman\n(1997)\n',
 '\n      140.\n      Hauru no ugoku shiro\n(2004)\n',
 '\n      141.\n      The Wolf of Wall Street\n(2013)\n',
 '\n      142.\n      Judgment at Nuremberg\n(1961)\n',
 '\n      143.\n      The Great Escape\n(1963)\n',
 '\n      144.\n      Casino\n(1995)\n',
 '\n      145.\n      The Treasure of the Sierra Madre\n(1948)\n',
 '\n      146.\n      There Will Be Blood\n(2007)\n',
 "\n      147.\n      Pan's Labyrinth\n(2006)\n",
 '\n      148.\n      A Beautiful Mind\n(2001)\n',
 '\n      149.\n      El secreto de sus ojos\n(2009)\n',
 '\n      150.\n      Raging Bull\n(1980)\n',
 '\n      151.\n      Tonari no Totoro\n(1988)\n',
 '\n      152.\n      Chinatown\n(1974)\n',
 '\n      153.\n      Lock, Stock and Two Smoking Barrels\n(1998)\n',
 '\n      154.\n      Shutter Island\n(2010)\n',
 '\n      155.\n      The Gold Rush\n(1925)\n',
 '\n      156.\n      No Country for Old Men\n(2007)\n',
 '\n      157.\n      Dial M for Murder\n(1954)\n',
 '\n      158.\n      Det sjunde inseglet\n(1957)\n',
 '\n      159.\n      Three Billboards Outside Ebbing, Missouri\n(2017)\n',
 '\n      160.\n      The Elephant Man\n(1980)\n',
 '\n      161.\n      The Thing\n(1982)\n',
 '\n      162.\n      The Sixth Sense\n(1999)\n',
 '\n      163.\n      Klaus\n(2019)\n',
 '\n      164.\n      Smultronstället\n(1957)\n',
 '\n      165.\n      The Third Man\n(1949)\n',
 '\n      166.\n      The Truman Show\n(1998)\n',
 '\n      167.\n      Jurassic Park\n(1993)\n',
 '\n      168.\n      V for Vendetta\n(2005)\n',
 '\n      169.\n      Inside Out\n(2015)\n',
 '\n      170.\n      Salinui chueok\n(2003)\n',
 '\n      171.\n      Blade Runner\n(1982)\n',
 '\n      172.\n      Trainspotting\n(1996)\n',
 '\n      173.\n      The Bridge on the River Kwai\n(1957)\n',
 '\n      174.\n      Fargo\n(1996)\n',
 '\n      175.\n      Warrior\n(2011)\n',
 '\n      176.\n      Finding Nemo\n(2003)\n',
 '\n      177.\n      Kill Bill: Vol. 1\n(2003)\n',
 '\n      178.\n      Gone with the Wind\n(1939)\n',
 '\n      179.\n      Tôkyô monogatari\n(1953)\n',
 '\n      180.\n      On the Waterfront\n(1954)\n',
 '\n      181.\n      Babam ve Oglum\n(2005)\n',
 '\n      182.\n      Z\n(1969)\n',
 '\n      183.\n      Stalker\n(1979)\n',
 '\n      184.\n      Relatos salvajes\n(2014)\n',
 '\n      185.\n      The Deer Hunter\n(1978)\n',
 '\n      186.\n      Sherlock Jr.\n(1924)\n',
 '\n      187.\n      The General\n(1926)\n',
 '\n      188.\n      Gran Torino\n(2008)\n',
 '\n      189.\n      Persona\n(1966)\n',
 '\n      190.\n      The Grand Budapest Hotel\n(2014)\n',
 '\n      191.\n      Prisoners\n(2013)\n',
 '\n      192.\n      Before Sunrise\n(1995)\n',
 '\n      193.\n      Mary and Max.\n(2009)\n',
 '\n      194.\n      Mr. Smith Goes to Washington\n(1939)\n',
 '\n      195.\n      Catch Me If You Can\n(2002)\n',
 '\n      196.\n      Room\n(2015)\n',
 '\n      197.\n      In the Name of the Father\n(1993)\n',
 '\n      198.\n      Barry Lyndon\n(1975)\n',
 '\n      199.\n      Gone Girl\n(2014)\n',
 '\n      200.\n      Hacksaw Ridge\n(2016)\n',
 '\n      201.\n      Andhadhun\n(2018)\n',
 "\n      202.\n      La passion de Jeanne d'Arc\n(1928)\n",
 '\n      203.\n      To Be or Not to Be\n(1942)\n',
 '\n      204.\n      Ford v Ferrari\n(2019)\n',
 '\n      205.\n      12 Years a Slave\n(2013)\n',
 '\n      206.\n      The Big Lebowski\n(1998)\n',
 '\n      207.\n      How to Train Your Dragon\n(2010)\n',
 '\n      208.\n      Mad Max: Fury Road\n(2015)\n',
 '\n      209.\n      Dead Poets Society\n(1989)\n',
 '\n      210.\n      Höstsonaten\n(1978)\n',
 '\n      211.\n      Ben-Hur\n(1959)\n',
 '\n      212.\n      Million Dollar Baby\n(2004)\n',
 '\n      213.\n      Harry Potter and the Deathly Hallows: Part 2\n(2011)\n',
 '\n      214.\n      Le salaire de la peur\n(1953)\n',
 '\n      215.\n      Stand by Me\n(1986)\n',
 '\n      216.\n      Ah-ga-ssi\n(2016)\n',
 '\n      217.\n      Network\n(1976)\n',
 '\n      218.\n      Logan\n(2017)\n',
 '\n      219.\n      Cool Hand Luke\n(1967)\n',
 '\n      220.\n      Les quatre cents coups\n(1959)\n',
 "\n      221.\n      Hachi: A Dog's Tale\n(2009)\n",
 '\n      222.\n      La haine\n(1995)\n',
 '\n      223.\n      Gangs of Wasseypur\n(2012)\n',
 '\n      224.\n      Platoon\n(1986)\n',
 '\n      225.\n      Spotlight\n(2015)\n',
 '\n      226.\n      Koe no katachi\n(2016)\n',
 '\n      227.\n      Eskiya\n(1996)\n',
 '\n      228.\n      Rebecca\n(1940)\n',
 '\n      229.\n      Life of Brian\n(1979)\n',
 '\n      230.\n      Monsters, Inc.\n(2001)\n',
 '\n      231.\n      Hotel Rwanda\n(2004)\n',
 '\n      232.\n      Fa Yeung Nin Wah\n(2000)\n',
 '\n      233.\n      Rush\n(2013)\n',
 '\n      234.\n      Into the Wild\n(2007)\n',
 '\n      235.\n      Amores perros\n(2000)\n',
 '\n      236.\n      Rocky\n(1976)\n',
 '\n      237.\n      Kaze no tani no Naushika\n(1984)\n',
 '\n      238.\n      Andrei Rublev\n(1966)\n',
 '\n      239.\n      It Happened One Night\n(1934)\n',
 '\n      240.\n      Fanny och Alexander\n(1982)\n',
 '\n      241.\n      Before Sunset\n(2004)\n',
 '\n      242.\n      Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni\n(1997)\n',
 '\n      243.\n      La battaglia di Algeri\n(1966)\n',
 '\n      244.\n      Kimetsu no Yaiba: Mugen Ressha-Hen\n(2020)\n',
 '\n      245.\n      Trois couleurs: Rouge\n(1994)\n',
 '\n      246.\n      The Princess Bride\n(1987)\n',
 '\n      247.\n      Paris, Texas\n(1984)\n',
 '\n      248.\n      Le notti di Cabiria\n(1957)\n',
 '\n      249.\n      Mandariinid\n(2013)\n',
 '\n      250.\n      Drishyam 2\n(2021)\n']

In [41]:
rating = []

for i in bs.find_all('td' ,class_='ratingColumn imdbRating'):
    rating.append(i.text)
rating

['\n9.2\n',
 '\n9.1\n',
 '\n9.0\n',
 '\n9.0\n',
 '\n8.9\n',
 '\n8.9\n',
 '\n8.9\n',
 '\n8.8\n',
 '\n8.8\n',
 '\n8.8\n',
 '\n8.8\n',
 '\n8.7\n',
 '\n8.7\n',
 '\n8.7\n',
 '\n8.7\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.6\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n']

In [43]:
release = []

for i in bs.find_all('span' ,class_='secondaryInfo'):
    release.append(i.text)
release

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(1991)',
 '(2002)',
 '(1997)',
 '(1946)',
 '(1977)',
 '(1998)',
 '(2014)',
 '(2001)',
 '(1999)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(2002)',
 '(1995)',
 '(1991)',
 '(1985)',
 '(1960)',
 '(1994)',
 '(1936)',
 '(1998)',
 '(1931)',
 '(1988)',
 '(2014)',
 '(2000)',
 '(2006)',
 '(2011)',
 '(2006)',
 '(1942)',
 '(1968)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(1940)',
 '(2006)',
 '(2012)',
 '(1957)',
 '(1950)',
 '(2008)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2018)',
 '(1964)',
 '(2019)',
 '(1997)',
 '(2003)',
 '(2016)',
 '(2012)',
 '(1986)',
 '(2017)',
 '(1984)',
 '(2018)',
 '(2019)',
 '(1981)',
 '(1963)',
 '(2020)',
 '(1999)',
 '(1995)',
 '(2009)',
 '(1984)',
 '(1995)',
 '(2009)',
 '(1997)',
 '(1983)',
 '(1968)',
 '(1992)',
 '(1931)',
 '(2007)',
 '(1958)',
 '(1941)',
 '(1985)',
 '(2012)',
 '(2000)',
 '(1952)',
 '(1959)',
 '(2004)',
 '(1948)',
 '(1952)',
 '(1962)',
 '(1955)',
 '(1921)',
 '(1987)',
 '(2016)',
 '(2020)',
 '(1960)',
 '(1971)',
 '(1976)',
 '(2010)',
 '(1927)',
 '(1944)',
 '(1973)',
 '(2011)',
 '(1983)',
 '(2019)',
 '(2000)',
 '(2001)',
 '(1962)',
 '(2010)',
 '(2021)',
 '(1965)',
 '(2009)',
 '(1989)',
 '(1997)',
 '(1995)',
 '(1961)',
 '(1950)',
 '(1985)',
 '(1988)',
 '(2018)',
 '(2004)',
 '(1975)',
 '(1950)',
 '(2005)',
 '(1959)',
 '(1992)',
 '(1997)',
 '(2004)',
 '(2013)',
 '(1961)',
 '(1963)',
 '(1995)',
 '(1948)',
 '(2007)',
 '(2006)',
 '(2001)',
 '(2009)',
 '(1980)',
 '(1988)',
 '(1974)',
 '(1998)',
 '(2010)',
 '(1925)',
 '(2007)',
 '(1954)',
 '(1957)',
 '(2017)',
 '(1980)',
 '(1982)',
 '(1999)',
 '(2019)',
 '(1957)',
 '(1949)',
 '(1998)',
 '(1993)',
 '(2005)',
 '(2015)',
 '(2003)',
 '(1982)',
 '(1996)',
 '(1957)',
 '(1996)',
 '(2011)',
 '(2003)',
 '(2003)',
 '(1939)',
 '(1953)',
 '(1954)',
 '(2005)',
 '(1969)',
 '(1979)',
 '(2014)',
 '(1978)',
 '(1924)',
 '(1926)',
 '(2008)',
 '(1966)',
 '(2014)',
 '(2013)',
 '(1995)',
 '(2009)',
 '(1939)',
 '(2002)',
 '(2015)',
 '(1993)',
 '(1975)',
 '(2014)',
 '(2016)',
 '(2018)',
 '(1928)',
 '(1942)',
 '(2019)',
 '(2013)',
 '(1998)',
 '(2010)',
 '(2015)',
 '(1989)',
 '(1978)',
 '(1959)',
 '(2004)',
 '(2011)',
 '(1953)',
 '(1986)',
 '(2016)',
 '(1976)',
 '(2017)',
 '(1967)',
 '(1959)',
 '(2009)',
 '(1995)',
 '(2012)',
 '(1986)',
 '(2015)',
 '(2016)',
 '(1996)',
 '(1940)',
 '(1979)',
 '(2001)',
 '(2004)',
 '(2000)',
 '(2013)',
 '(2007)',
 '(2000)',
 '(1976)',
 '(1984)',
 '(1966)',
 '(1934)',
 '(1982)',
 '(2004)',
 '(1997)',
 '(1966)',
 '(2020)',
 '(1994)',
 '(1987)',
 '(1984)',
 '(1957)',
 '(2013)',
 '(2021)']

In [44]:
import pandas as pd

In [45]:
df = pd.DataFrame({'Name': title,'IMDB rating':rating,'Year of release': release})

In [46]:
df

,Name,IMDB rating,Year of release
0,\n 1.\n The Shawshank Redemption\n(1...,\n9.2\n,(1994)
1,\n 2.\n The Godfather\n(1972)\n,\n9.1\n,(1972)
2,\n 3.\n The Godfather: Part II\n(197...,\n9.0\n,(1974)
3,\n 4.\n The Dark Knight\n(2008)\n,\n9.0\n,(2008)
4,\n 5.\n 12 Angry Men\n(1957)\n,\n8.9\n,(1957)
...,...,...,...
245,\n 246.\n The Princess Bride\n(1987)\n,\n8.0\n,(1987)
246,"\n 247.\n Paris, Texas\n(1984)\n",\n8.0\n,(1984)
247,\n 248.\n Le notti di Cabiria\n(1957)\n,\n8.0\n,(1957)
248,\n 249.\n Mandariinid\n(2013)\n,\n8.0\n,(2013)
249,\n 250.\n Drishyam 2\n(2021)\n,\n8.0\n,(2021)

In [50]:
df.sort_values('IMDB rating',ascending=False).head(100)

,Name,IMDB rating,Year of release
0,\n 1.\n The Shawshank Redemption\n(1...,\n9.2\n,(1994)
1,\n 2.\n The Godfather\n(1972)\n,\n9.1\n,(1972)
2,\n 3.\n The Godfather: Part II\n(197...,\n9.0\n,(1974)
3,\n 4.\n The Dark Knight\n(2008)\n,\n9.0\n,(2008)
4,\n 5.\n 12 Angry Men\n(1957)\n,\n8.9\n,(1957)
...,...,...,...
76,\n 77.\n Das Boot\n(1981)\n,\n8.3\n,(1981)
77,\n 78.\n Tengoku to jigoku\n(1963)\n,\n8.3\n,(1963)
78,\n 79.\n Hamilton\n(2020)\n,\n8.3\n,(2020)
79,\n 80.\n American Beauty\n(1999)\n,\n8.3\n,(1999)
75,\n 76.\n Avengers: Endgame\n(2019)\n,\n8.3\n,(2019)

# QUESTION NUMBER 3

In [ ]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/?sort=rk,asc&mode=simple&page=1'
r = requests.get(url)
htmlcontent = r.content

from bs4 import BeautifulSoup
soup = BeautifulSoup(htmlcontent,'html.parser')

In [58]:
T = []

for i in soup.find_all('td' ,class_='titleColumn'):
    T.append(i.text)
T

['\n      1.\n      Nayakan\n(1987)\n',
 '\n      2.\n      Anbe Sivam\n(2003)\n',
 '\n      3.\n      Pariyerum Perumal\n(2018)\n',
 '\n      4.\n      C/o Kancharapalem\n(2018)\n',
 '\n      5.\n      Golmaal\n(1979)\n',
 '\n      6.\n      Manichitrathazhu\n(1993)\n',
 '\n      7.\n      Kireedam\n(1989)\n',
 '\n      8.\n      Apur Sansar\n(1959)\n',
 '\n      9.\n      Natsamrat\n(2016)\n',
 '\n      10.\n      96\n(2018)\n',
 '\n      11.\n      Thevar Magan\n(1992)\n',
 '\n      12.\n      Kumbalangi Nights\n(2019)\n',
 '\n      13.\n      Black Friday\n(2004)\n',
 '\n      14.\n      Pather Panchali\n(1955)\n',
 '\n      15.\n      Sardar Udham\n(2021)\n',
 '\n      16.\n      Soorarai Pottru\n(2020)\n',
 '\n      17.\n      Visaaranai\n(2015)\n',
 '\n      18.\n      #Home\n(2021)\n',
 '\n      19.\n      3 Idiots\n(2009)\n',
 '\n      20.\n      Jersey\n(2019)\n',
 '\n      21.\n      Taare Zameen Par\n(2007)\n',
 '\n      22.\n      Asuran\n(2019)\n',
 '\n      23.\n      Drishyam 2\n(2021)\n',
 '\n      24.\n      Thalapathi\n(1991)\n',
 '\n      25.\n      Kaithi\n(2019)\n',
 '\n      26.\n      Sarpatta Parambarai\n(2021)\n',
 '\n      27.\n      Dangal\n(2016)\n',
 '\n      28.\n      Devasuram\n(1993)\n',
 '\n      29.\n      Aparajito\n(1956)\n',
 '\n      30.\n      Jaane Bhi Do Yaaro\n(1983)\n',
 '\n      31.\n      Pyaasa\n(1957)\n',
 '\n      32.\n      Peranbu\n(2018)\n',
 '\n      33.\n      Vada Chennai\n(2018)\n',
 '\n      34.\n      Ratsasan\n(2018)\n',
 '\n      35.\n      Guide\n(1965)\n',
 '\n      36.\n      Thani Oruvan\n(2015)\n',
 '\n      37.\n      Kannathil Muthamittal\n(2002)\n',
 '\n      38.\n      Spadikam\n(1995)\n',
 '\n      39.\n      Iruvar\n(1997)\n',
 '\n      40.\n      Agent Sai Srinivasa Athreya\n(2019)\n',
 '\n      41.\n      Chupke Chupke\n(1975)\n',
 '\n      42.\n      Super Deluxe\n(2019)\n',
 '\n      43.\n      Mahanati\n(2018)\n',
 '\n      44.\n      Aruvi\n(2016)\n',
 '\n      45.\n      Khosla Ka Ghosla!\n(2006)\n',
 '\n      46.\n      Pudhu Pettai\n(2006)\n',
 '\n      47.\n      Drishyam\n(2013)\n',
 '\n      48.\n      Tumbbad\n(2018)\n',
 '\n      49.\n      Anniyan\n(2005)\n',
 '\n      50.\n      Premam\n(2015)\n',
 '\n      51.\n      Vikram Vedha\n(2017)\n',
 '\n      52.\n      Kaakkaa Muttai\n(2014)\n',
 '\n      53.\n      Mudhalvan\n(1999)\n',
 '\n      54.\n      Bangalore Days\n(2014)\n',
 '\n      55.\n      Satya\n(1998)\n',
 '\n      56.\n      Papanasam\n(2015)\n',
 '\n      57.\n      Angoor\n(1982)\n',
 '\n      58.\n      Soodhu Kavvum\n(2013)\n',
 '\n      59.\n      Andhadhun\n(2018)\n',
 '\n      60.\n      Dhuruvangal Pathinaaru\n(2016)\n',
 '\n      61.\n      Shahid\n(2012)\n',
 '\n      62.\n      Anand\n(1971)\n',
 '\n      63.\n      Mandela\n(2021)\n',
 '\n      64.\n      Pithamagan\n(2003)\n',
 '\n      65.\n      Jigarthanda\n(2014)\n',
 '\n      66.\n      Gangs of Wasseypur\n(2012)\n',
 '\n      67.\n      Paan Singh Tomar\n(2012)\n',
 '\n      68.\n      Bhaag Milkha Bhaag\n(2013)\n',
 '\n      69.\n      Sairat\n(2016)\n',
 '\n      70.\n      Hera Pheri\n(2000)\n',
 '\n      71.\n      Sholay\n(1975)\n',
 '\n      72.\n      Maheshinte Prathikaaram\n(2016)\n',
 '\n      73.\n      Swades: We, the People\n(2004)\n',
 '\n      74.\n      Talvar\n(2015)\n',
 '\n      75.\n      Chak De! India\n(2007)\n',
 '\n      76.\n      Mughal-E-Azam\n(1960)\n',
 '\n      77.\n      Ustad Hotel\n(2012)\n',
 '\n      78.\n      Black\n(2005)\n',
 '\n      79.\n      Zindagi Na Milegi Dobara\n(2011)\n',
 '\n      80.\n      Jo Jeeta Wohi Sikandar\n(1992)\n',
 '\n      81.\n      Theeran Adhigaaram Ondru\n(2017)\n',
 '\n      82.\n      Chhichhore\n(2019)\n',
 '\n      83.\n      Nil Battey Sannata\n(2015)\n',
 '\n      84.\n      Drishyam\n(2015)\n',
 '\n      85.\n      Article 15\n(2019)\n',
 '\n      86.\n      Charulata\n(1964)\n',
 '\n      87.\n      Udaan\n(2010)\n',
 '\n      88.\n      A Wednesday\n(2008)\n',
 '\n      89.\n      Baasha\n(1995)\n',
 '\n      90.\n      Masaan\n(2015)\n',
 '\n      91.\n      Alai Payuthey\n(2000)\n',
 '\n      92.\n      Munna Bhai M.B.B.S.\n(2003)\n',
 '\n      93.\n      Virumandi\n(2004)\n',
 '\n      94.\n      Sarfarosh\n(1999)\n',
 '\n      95.\n      Queen\n(2013)\n',
 '\n      96.\n      Dil Chahta Hai\n(2001)\n',
 '\n      97.\n      Rang De Basanti\n(2006)\n',
 '\n      98.\n      Roja\n(1992)\n',
 '\n      99.\n      OMG: Oh My God!\n(2012)\n',
 '\n      100.\n      Uri: The Surgical Strike\n(2019)\n',
 '\n      101.\n      Lagaan: Once Upon a Time in India\n(2001)\n',
 '\n      102.\n      Andaz Apna Apna\n(1994)\n',
 '\n      103.\n      Kahaani\n(2012)\n',
 '\n      104.\n      PK\n(2014)\n',
 '\n      105.\n      Lucia\n(2013)\n',
 '\n      106.\n      Bommarillu\n(2006)\n',
 '\n      107.\n      The Legend of Bhagat Singh\n(2002)\n',
 '\n      108.\n      Iqbal\n(2005)\n',
 '\n      109.\n      Barfi!\n(2012)\n',
 '\n      110.\n      Section 375\n(2019)\n',
 '\n      111.\n      Pink\n(2016)\n',
 '\n      112.\n      Maqbool\n(2003)\n',
 '\n      113.\n      Bombay\n(1995)\n',
 '\n      114.\n      Indian\n(1996)\n',
 '\n      115.\n      Shershaah\n(2021)\n',
 '\n      116.\n      Omkara\n(2006)\n',
 '\n      117.\n      Thadam\n(2019)\n',
 '\n      118.\n      The Great Indian Kitchen\n(2021)\n',
 '\n      119.\n      Kshanam\n(2016)\n',
 '\n      120.\n      Lage Raho Munna Bhai\n(2006)\n',
 '\n      121.\n      Pelli Choopulu\n(2016)\n',
 '\n      122.\n      Baahubali 2: The Conclusion\n(2017)\n',
 '\n      123.\n      Deewaar\n(1975)\n',
 '\n      124.\n      Pranchiyettan and the Saint\n(2010)\n',
 '\n      125.\n      Rangasthalam\n(2018)\n',
 '\n      126.\n      Naduvula Konjam Pakkatha Kaanom\n(2012)\n',
 '\n      127.\n      Padosan\n(1968)\n',
 '\n      128.\n      Gulaal\n(2009)\n',
 '\n      129.\n      Athadu\n(2005)\n',
 '\n      130.\n      Haider\n(2014)\n',
 '\n      131.\n      Dilwale Dulhania Le Jayenge\n(1995)\n',
 '\n      132.\n      Padayappa\n(1999)\n',
 '\n      133.\n      Thondimuthalum Dhriksakshiyum\n(2017)\n',
 '\n      134.\n      Take Off\n(2017)\n',
 '\n      135.\n      Baishe Srabon\n(2011)\n',
 '\n      136.\n      Ugly\n(2013)\n',
 '\n      137.\n      K.G.F: Chapter 1\n(2018)\n',
 '\n      138.\n      Aadukalam\n(2011)\n',
 '\n      139.\n      Mother India\n(1957)\n',
 '\n      140.\n      Vaaranam Aayiram\n(2008)\n',
 '\n      141.\n      Special Chabbis\n(2013)\n',
 '\n      142.\n      Ulidavaru Kandanthe\n(2014)\n',
 '\n      143.\n      Nayattu\n(2021)\n',
 '\n      144.\n      Ship of Theseus\n(2012)\n',
 '\n      145.\n      Badhaai ho\n(2018)\n',
 '\n      146.\n      Bajrangi Bhaijaan\n(2015)\n',
 '\n      147.\n      Dev.D\n(2009)\n',
 '\n      148.\n      Jalsaghar\n(1958)\n',
 '\n      149.\n      Deiva Thirumagal\n(2011)\n',
 '\n      150.\n      Vaastav: The Reality\n(1999)\n',
 '\n      151.\n      Gully Boy\n(2019)\n',
 '\n      152.\n      Mukkabaaz\n(2017)\n',
 '\n      153.\n      Ankhon Dekhi\n(2013)\n',
 '\n      154.\n      Vedam\n(2010)\n',
 '\n      155.\n      Company\n(2002)\n',
 '\n      156.\n      Karnan\n(2021)\n',
 '\n      157.\n      Manjhi: The Mountain Man\n(2015)\n',
 '\n      158.\n      Charlie\n(2015)\n',
 '\n      159.\n      Pizza\n(2012)\n',
 '\n      160.\n      Arjun Reddy\n(2017)\n',
 '\n      161.\n      Memories\n(2013)\n',
 '\n      162.\n      Malik\n(2021)\n',
 '\n      163.\n      My Name Is Khan\n(2010)\n',
 '\n      164.\n      Jab We Met\n(2007)\n',
 '\n      165.\n      Kal Ho Naa Ho\n(2003)\n',
 '\n      166.\n      Dil Bechara\n(2020)\n',
 '\n      167.\n      Ayyappanum Koshiyum\n(2020)\n',
 '\n      168.\n      Border\n(1997)\n',
 '\n      169.\n      Super 30\n(2019)\n',
 '\n      170.\n      Vinnaithaandi Varuvaayaa\n(2010)\n',
 '\n      171.\n      Mumbai Police\n(2013)\n',
 '\n      172.\n      Poove Unakkaga\n(1996)\n',
 '\n      173.\n      Angamaly Diaries\n(2017)\n',
 '\n      174.\n      Kaakha..Kaakha: The Police\n(2003)\n',
 '\n      175.\n      Sonchiriya\n(2019)\n',
 '\n      176.\n      Unnaipol Oruvan\n(2009)\n',
 '\n      177.\n      Lakshya\n(2004)\n',
 '\n      178.\n      Bãhubali: The Beginning\n(2015)\n',
 '\n      179.\n      Anjaam Pathiraa\n(2020)\n',
 '\n      180.\n      Hey Ram\n(2000)\n',
 '\n      181.\n      Padman\n(2018)\n',
 '\n      182.\n      Vettaiyaadu Vilaiyaadu\n(2006)\n',
 '\n      183.\n      Dor\n(2006)\n',
 '\n      184.\n      Baby\n(2015)\n',
 '\n      185.\n      Thulladha Manamum Thullum\n(1999)\n',
 '\n      186.\n      Airlift\n(2016)\n',
 '\n      187.\n      Hindi Medium\n(2017)\n',
 '\n      188.\n      English Vinglish\n(2012)\n',
 '\n      189.\n      Okkadu\n(2003)\n',
 '\n      190.\n      Gangaajal\n(2003)\n',
 '\n      191.\n      The Lunchbox\n(2013)\n',
 '\n      192.\n      Manam\n(2014)\n',
 '\n      193.\n      Johnny Gaddaar\n(2007)\n',
 '\n      194.\n      Ab Tak Chhappan\n(2004)\n',
 '\n      195.\n      M.S. Dhoni: The Untold Story\n(2016)\n',
 '\n      196.\n      Joji\n(2021)\n',
 '\n      197.\n      Pokiri\n(2006)\n',
 '\n      198.\n      Badla\n(2019)\n',
 '\n      199.\n      Goodachari\n(2018)\n',
 '\n      200.\n      Secret Superstar\n(2017)\n',
 '\n      201.\n      Aayirathil Oruvan\n(2010)\n',
 '\n      202.\n      Nayak: The Real Hero\n(2001)\n',
 '\n      203.\n      Mimi\n(2021)\n',
 '\n      204.\n      Vicky Donor\n(2012)\n',
 '\n      205.\n      Stanley Ka Dabba\n(2011)\n',
 '\n      206.\n      Mr. India\n(1987)\n',
 '\n      207.\n      Raazi\n(2018)\n',
 '\n      208.\n      Don\n(1978)\n',
 '\n      209.\n      RangiTaranga\n(2015)\n',
 '\n      210.\n      Udta Punjab\n(2016)\n',
 '\n      211.\n      Velaiilla Pattadhari\n(2014)\n',
 '\n      212.\n      Aligarh\n(2015)\n',
 '\n      213.\n      Ko\n(2011)\n',
 '\n      214.\n      Veer-Zaara\n(2004)\n',
 '\n      215.\n      Thuppakki\n(2012)\n',
 '\n      216.\n      Rock On!!\n(2008)\n',
 '\n      217.\n      Dasvidaniya\n(2008)\n',
 '\n      218.\n      Arya\n(2004)\n',
 '\n      219.\n      Guru\n(2007)\n',
 '\n      220.\n      Kaththi\n(2014)\n',
 '\n      221.\n      Kai po che!\n(2013)\n',
 '\n      222.\n      Samsara\n(2001)\n',
 '\n      223.\n      Oye Lucky! Lucky Oye!\n(2008)\n',
 '\n      224.\n      Ghilli\n(2004)\n',
 '\n      225.\n      24\n(2016)\n',
 '\n      226.\n      Rockstar\n(2011)\n',
 '\n      227.\n      Eega\n(2012)\n',
 '\n      228.\n      Mumbai Meri Jaan\n(2008)\n',
 '\n      229.\n      Kushi\n(2000)\n',
 '\n      230.\n      Sir\n(2018)\n',
 '\n      231.\n      Darr\n(1993)\n',
 '\n      232.\n      Kabhi Haan Kabhi Naa\n(1994)\n',
 '\n      233.\n      Avane Srimannarayana\n(2019)\n',
 '\n      234.\n      C U Soon\n(2020)\n',
 '\n      235.\n      Kapoor & Sons\n(2016)\n',
 '\n      236.\n      The Tashkent Files\n(2019)\n',
 '\n      237.\n      Newton\n(2017)\n',
 '\n      238.\n      Ugramm\n(2014)\n',
 '\n      239.\n      Aamir\n(2008)\n',
 '\n      240.\n      Earth\n(1998)\n',
 '\n      241.\n      State of Siege: Temple Attack\n(2021)\n',
 '\n      242.\n      Detective Byomkesh Bakshy!\n(2015)\n',
 '\n      243.\n      Agneepath\n(1990)\n',
 '\n      244.\n      Madras Cafe\n(2013)\n',
 '\n      245.\n      Sarkar\n(2005)\n',
 '\n      246.\n      Bheja Fry\n(2007)\n',
 '\n      247.\n      Kannum Kannum Kollaiyadithaal\n(2020)\n',
 '\n      248.\n      Neerja\n(2016)\n',
 '\n      249.\n      Pyaar Ka Punchnama\n(2011)\n',
 '\n      250.\n      Magadheera\n(2009)\n']

In [59]:
R = []

for i in soup.find_all('span' ,class_='secondaryInfo'):
    R.append(i.text)
R

['(1987)',
 '(2003)',
 '(2018)',
 '(2018)',
 '(1979)',
 '(1993)',
 '(1989)',
 '(1959)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2019)',
 '(2004)',
 '(1955)',
 '(2021)',
 '(2020)',
 '(2015)',
 '(2021)',
 '(2009)',
 '(2019)',
 '(2007)',
 '(2019)',
 '(2021)',
 '(1991)',
 '(2019)',
 '(2021)',
 '(2016)',
 '(1993)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1995)',
 '(1997)',
 '(2019)',
 '(1975)',
 '(2019)',
 '(2018)',
 '(2016)',
 '(2006)',
 '(2006)',
 '(2013)',
 '(2018)',
 '(2005)',
 '(2015)',
 '(2017)',
 '(2014)',
 '(1999)',
 '(2014)',
 '(1998)',
 '(2015)',
 '(1982)',
 '(2013)',
 '(2018)',
 '(2016)',
 '(2012)',
 '(1971)',
 '(2021)',
 '(2003)',
 '(2014)',
 '(2012)',
 '(2012)',
 '(2013)',
 '(2016)',
 '(2000)',
 '(1975)',
 '(2016)',
 '(2004)',
 '(2015)',
 '(2007)',
 '(1960)',
 '(2012)',
 '(2005)',
 '(2011)',
 '(1992)',
 '(2017)',
 '(2019)',
 '(2015)',
 '(2015)',
 '(2019)',
 '(1964)',
 '(2010)',
 '(2008)',
 '(1995)',
 '(2015)',
 '(2000)',
 '(2003)',
 '(2004)',
 '(1999)',
 '(2013)',
 '(2001)',
 '(2006)',
 '(1992)',
 '(2012)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2012)',
 '(2014)',
 '(2013)',
 '(2006)',
 '(2002)',
 '(2005)',
 '(2012)',
 '(2019)',
 '(2016)',
 '(2003)',
 '(1995)',
 '(1996)',
 '(2021)',
 '(2006)',
 '(2019)',
 '(2021)',
 '(2016)',
 '(2006)',
 '(2016)',
 '(2017)',
 '(1975)',
 '(2010)',
 '(2018)',
 '(2012)',
 '(1968)',
 '(2009)',
 '(2005)',
 '(2014)',
 '(1995)',
 '(1999)',
 '(2017)',
 '(2017)',
 '(2011)',
 '(2013)',
 '(2018)',
 '(2011)',
 '(1957)',
 '(2008)',
 '(2013)',
 '(2014)',
 '(2021)',
 '(2012)',
 '(2018)',
 '(2015)',
 '(2009)',
 '(1958)',
 '(2011)',
 '(1999)',
 '(2019)',
 '(2017)',
 '(2013)',
 '(2010)',
 '(2002)',
 '(2021)',
 '(2015)',
 '(2015)',
 '(2012)',
 '(2017)',
 '(2013)',
 '(2021)',
 '(2010)',
 '(2007)',
 '(2003)',
 '(2020)',
 '(2020)',
 '(1997)',
 '(2019)',
 '(2010)',
 '(2013)',
 '(1996)',
 '(2017)',
 '(2003)',
 '(2019)',
 '(2009)',
 '(2004)',
 '(2015)',
 '(2020)',
 '(2000)',
 '(2018)',
 '(2006)',
 '(2006)',
 '(2015)',
 '(1999)',
 '(2016)',
 '(2017)',
 '(2012)',
 '(2003)',
 '(2003)',
 '(2013)',
 '(2014)',
 '(2007)',
 '(2004)',
 '(2016)',
 '(2021)',
 '(2006)',
 '(2019)',
 '(2018)',
 '(2017)',
 '(2010)',
 '(2001)',
 '(2021)',
 '(2012)',
 '(2011)',
 '(1987)',
 '(2018)',
 '(1978)',
 '(2015)',
 '(2016)',
 '(2014)',
 '(2015)',
 '(2011)',
 '(2004)',
 '(2012)',
 '(2008)',
 '(2008)',
 '(2004)',
 '(2007)',
 '(2014)',
 '(2013)',
 '(2001)',
 '(2008)',
 '(2004)',
 '(2016)',
 '(2011)',
 '(2012)',
 '(2008)',
 '(2000)',
 '(2018)',
 '(1993)',
 '(1994)',
 '(2019)',
 '(2020)',
 '(2016)',
 '(2019)',
 '(2017)',
 '(2014)',
 '(2008)',
 '(1998)',
 '(2021)',
 '(2015)',
 '(1990)',
 '(2013)',
 '(2005)',
 '(2007)',
 '(2020)',
 '(2016)',
 '(2011)',
 '(2009)']

In [60]:
Y = []

for i in soup.find_all('td' ,class_='ratingColumn imdbRating'):
    Y.append(i.text)
Y

['\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.5\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.4\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.3\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.2\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.1\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n8.0\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.9\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.8\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.7\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n',
 '\n7.6\n']

In [61]:
data = pd.DataFrame({'Name':T,'IMDB rating':R,'Year of release':Y})

In [62]:
data

,Name,IMDB rating,Year of release
0,\n 1.\n Nayakan\n(1987)\n,(1987),\n8.5\n
1,\n 2.\n Anbe Sivam\n(2003)\n,(2003),\n8.5\n
2,\n 3.\n Pariyerum Perumal\n(2018)\n,(2018),\n8.5\n
3,\n 4.\n C/o Kancharapalem\n(2018)\n,(2018),\n8.5\n
4,\n 5.\n Golmaal\n(1979)\n,(1979),\n8.5\n
...,...,...,...
245,\n 246.\n Bheja Fry\n(2007)\n,(2007),\n7.6\n
246,\n 247.\n Kannum Kannum Kollaiyadith...,(2020),\n7.6\n
247,\n 248.\n Neerja\n(2016)\n,(2016),\n7.6\n
248,\n 249.\n Pyaar Ka Punchnama\n(2011)\n,(2011),\n7.6\n
249,\n 250.\n Magadheera\n(2009)\n,(2009),\n7.6\n

In [63]:
data.sort_values('IMDB rating',ascending=False).head(100)

,Name,IMDB rating,Year of release
195,\n 196.\n Joji\n(2021)\n,(2021),\n7.8\n
62,\n 63.\n Mandela\n(2021)\n,(2021),\n8.2\n
25,\n 26.\n Sarpatta Parambarai\n(2021)\n,(2021),\n8.3\n
22,\n 23.\n Drishyam 2\n(2021)\n,(2021),\n8.3\n
117,\n 118.\n The Great Indian Kitchen\n...,(2021),\n8.0\n
...,...,...,...
210,\n 211.\n Velaiilla Pattadhari\n(201...,(2014),\n7.7\n
191,\n 192.\n Manam\n(2014)\n,(2014),\n7.8\n
219,\n 220.\n Kaththi\n(2014)\n,(2014),\n7.7\n
103,\n 104.\n PK\n(2014)\n,(2014),\n8.1\n
237,\n 238.\n Ugramm\n(2014)\n,(2014),\n7.6\n

# QUESTION NUMBER 4(i)

In [65]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r = requests.get(url)
htmlcontent = r.content

In [66]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [146]:
matches = []
for i in soup.find_all('td' ,class_= 'rankings-block__banner--matches'):
    matches.append(i.text)
matches

['17']

In [147]:
points = []

for i in soup.find_all('td' ,class_= 'rankings-block__banner--points'):
    points.append(i.text)
points

['2,054']

In [149]:
rating = []

for i in soup.find_all('td' ,class_='rankings-block__banner--rating u-text-right'):
    rating.append(i.text)
rating

['\n                            121\n                            \n\n']

In [151]:
print(len(matches),len(points),len(rating))

1 1 1

In [152]:
df = pd.DataFrame({'Matches':matches,'Points':points,'Ratings':rating})

In [153]:
df

  Matches Points                                            Ratings
0      17  2,054  \n                            121\n           ...

# QUESTION NUMBER 4(ii)

In [164]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [165]:
r = requests.get(url)

In [166]:
htmlcontent = r.content

In [167]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [168]:
player = []

for i in bs.find_all('td' ,class_='table-body__cell name'):
    player.append(i.text)
    
player

['\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nRoss Taylor\n',
 '\nAaron Finch\n',
 '\nJonny Bairstow\n',
 '\nDavid Warner\n',
 '\nShai Hope\n',
 '\nKane Williamson\n',
 '\nQuinton de Kock\n',
 '\nJosh Hazlewood\n',
 '\nMujeeb Ur Rahman\n',
 '\nChris Woakes\n',
 '\nMehedi Hasan\n',
 '\nMatt Henry\n',
 '\nJasprit Bumrah\n',
 '\nMitchell Starc\n',
 '\nShakib Al Hasan\n',
 '\nKagiso Rabada\n',
 '\nMohammad Nabi\n',
 '\nChris Woakes\n',
 '\nRashid Khan\n',
 '\nMitchell Santner\n',
 '\nBen Stokes\n',
 '\nColin de Grandhomme\n',
 '\nImad Wasim\n',
 '\nRavindra Jadeja\n',
 '\nSikandar Raza\n',
 '\nVirat Kohli\n',
 '\nRohit Sharma\n',
 '\nRoss Taylor\n',
 '\nAaron Finch\n',
 '\nJonny Bairstow\n',
 '\nDavid Warner\n',
 '\nShai Hope\n',
 '\nKane Williamson\n',
 '\nQuinton de Kock\n',
 '\nJosh Hazlewood\n',
 '\nMujeeb Ur Rahman\n',
 '\nChris Woakes\n',
 '\nMehedi Hasan\n',
 '\nMatt Henry\n',
 '\nJasprit Bumrah\n',
 '\nMitchell Starc\n',
 '\nShakib Al Hasan\n',
 '\nKagiso Rabada\n',
 '\nMohammad Nabi\n',
 '\nChris Woakes\n',
 '\nRashid Khan\n',
 '\nMitchell Santner\n',
 '\nBen Stokes\n',
 '\nColin de Grandhomme\n',
 '\nImad Wasim\n',
 '\nRavindra Jadeja\n',
 '\nSikandar Raza\n']

In [169]:
team = []

for i in bs.find_all('td',class_='table-body__cell nationality-logo'):
    team.append(i.text)
    
team

['\n\nIND\n',
 '\n\nIND\n',
 '\n\nNZ\n',
 '\n\nAUS\n',
 '\n\nENG\n',
 '\n\nAUS\n',
 '\n\nWI\n',
 '\n\nNZ\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nAFG\n',
 '\n\nENG\n',
 '\n\nBAN\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nBAN\n',
 '\n\nSA\n',
 '\n\nAFG\n',
 '\n\nENG\n',
 '\n\nAFG\n',
 '\n\nNZ\n',
 '\n\nENG\n',
 '\n\nNZ\n',
 '\n\nPAK\n',
 '\n\nIND\n',
 '\n\nZIM\n',
 '\n\nIND\n',
 '\n\nIND\n',
 '\n\nNZ\n',
 '\n\nAUS\n',
 '\n\nENG\n',
 '\n\nAUS\n',
 '\n\nWI\n',
 '\n\nNZ\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nAFG\n',
 '\n\nENG\n',
 '\n\nBAN\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nBAN\n',
 '\n\nSA\n',
 '\n\nAFG\n',
 '\n\nENG\n',
 '\n\nAFG\n',
 '\n\nNZ\n',
 '\n\nENG\n',
 '\n\nNZ\n',
 '\n\nPAK\n',
 '\n\nIND\n',
 '\n\nZIM\n']

In [170]:
rating = []

for i in bs.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
    
rating

['844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '229',
 '844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '294',
 '282',
 '270',
 '268',
 '266',
 '257',
 '256',
 '238',
 '229']

In [171]:
df = pd.DataFrame({'PLAYER':player,'TEAM':team,'RATING':rating})

In [196]:
df.sort_values('RATING',ascending=False).head(10)

                PLAYER       TEAM RATING
0      \nVirat Kohli\n  \n\nIND\n    844
27     \nVirat Kohli\n  \n\nIND\n    844
28    \nRohit Sharma\n  \n\nIND\n    813
1     \nRohit Sharma\n  \n\nIND\n    813
29     \nRoss Taylor\n   \n\nNZ\n    801
2      \nRoss Taylor\n   \n\nNZ\n    801
30     \nAaron Finch\n  \n\nAUS\n    779
3      \nAaron Finch\n  \n\nAUS\n    779
31  \nJonny Bairstow\n  \n\nENG\n    775
4   \nJonny Bairstow\n  \n\nENG\n    775

# Question number 4(iii)

In [3]:
#!pip install requests

Requirement already satisfied: requests in c:\users\acer\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\acer\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests) (1.25.11)

In [8]:
#!pip install bs4

Requirement already satisfied: bs4 in c:\users\acer\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\acer\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\acer\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [12]:
#!pip install html5lib

Requirement already satisfied: html5lib in c:\users\acer\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\users\acer\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [18]:
from urllib.request import urlopen

In [19]:
html = urlopen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [20]:
import requests

In [21]:
r = requests.get(url)

In [22]:
from bs4 import BeautifulSoup

In [23]:
htmlcontent = r.content

In [24]:
soup = BeautifulSoup(html,'html.parser')

In [25]:
P = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    P.append(i.text)
    
P

['\nJosh Hazlewood\n',
 '\nMujeeb Ur Rahman\n',
 '\nChris Woakes\n',
 '\nMehedi Hasan\n',
 '\nMatt Henry\n',
 '\nJasprit Bumrah\n',
 '\nMitchell Starc\n',
 '\nShakib Al Hasan\n',
 '\nKagiso Rabada\n',
 '\nMustafizur Rahman\n',
 '\nPat Cummins\n',
 '\nShaheen Afridi\n',
 '\nMohammad Amir\n',
 '\nRashid Khan\n',
 '\nAdam Zampa\n',
 '\nBhuvneshwar Kumar\n',
 '\nLachlan Ferguson\n',
 '\nJofra Archer\n',
 '\nYuzvendra Chahal\n',
 '\nMohammad Nabi\n',
 '\nMark Wood\n',
 '\nAlzarri Joseph\n',
 '\nLungi Ngidi\n',
 '\nMitchell Santner\n',
 '\nAkila Dananjaya\n',
 '\nAndy McBrine\n',
 '\nMohammad Shami\n',
 '\nTabraiz Shamsi\n',
 '\nKuldeep Yadav\n',
 '\nRavindra Jadeja\n',
 '\nSheldon Cottrell\n',
 '\nWanindu De Silva\n',
 '\nAhmed Raza\n',
 '\nDushmantha Chameera\n',
 '\nShadab Khan\n',
 '\nColin de Grandhomme\n',
 '\nSimi Singh\n',
 '\nDavid Willey\n',
 '\nTim Southee\n',
 '\nAdil Rashid\n',
 '\nIsh Sodhi\n',
 '\nKeshav Maharaj\n',
 '\nMark Watt\n',
 '\nImad Wasim\n',
 '\nHasan Ali\n',
 '\nUsman Khan\n',
 '\nJhye Richardson\n',
 '\nRohan Mustafa\n',
 '\nBlessing Muzarabani\n',
 '\nAndile Phehlukwayo\n',
 '\nMashrafe Mortaza\n',
 '\nMohammad Mohammad Saifuddin\n',
 '\nSafyaan Sharif\n',
 '\nJoshua Little\n',
 '\nJimmy Neesham\n',
 '\nTendai Chatara\n',
 '\nSaqib Mahmood\n',
 '\nNuwan Pradeep\n',
 '\nJason Holder\n',
 '\nMoeen Ali\n',
 '\nWahab Riaz\n',
 '\nFaheem Ashraf\n',
 '\nAkeal Hosein\n',
 '\nTom Curran\n',
 '\nSuranga Lakmal\n',
 '\nAshton Agar\n',
 '\nTaskin Ahmed\n',
 '\nAnrich Nortje\n',
 '\nJosh Davey\n',
 '\nSikandar Raza\n',
 '\nSaurabh Netravalkar\n',
 '\nKane Richardson\n',
 '\nSean Williams\n',
 '\nBen Stokes\n',
 '\nShardul Thakur\n',
 '\nCraig Young\n',
 '\nDhananjaya de Silva\n',
 '\nSandeep Lamichhane\n',
 '\nRubel Hossain\n',
 '\nGulbadin Naib\n',
 '\nHardik Pandya\n',
 '\nAlasdair Evans\n',
 '\nMitchell Marsh\n',
 '\nBarry McCarthy\n',
 '\nMarcus Stoinis\n',
 '\nZeeshan Maqsood\n',
 '\nNosaina Pokana\n',
 '\nTaijul Islam\n',
 '\nBilal Khan\n',
 '\nChad Soper\n',
 '\nMohammad Nawaz\n',
 '\nLakshan Sandakan\n',
 '\nDonald Tiripano\n',
 '\nFred Klaassen\n',
 '\nOshane Thomas\n',
 '\nKyle Jamieson\n',
 '\nCharles Amini\n',
 '\nMichael Leask\n',
 '\nSharafuddin Ashraf\n']

In [37]:
T = []

for i in soup.find_all('span',class_='table-body__logo-text'):
    T.append(i.text)
    
T

['AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA',
 'BAN',
 'AUS',
 'PAK',
 'PAK',
 'AFG',
 'AUS',
 'IND',
 'NZ',
 'ENG',
 'IND',
 'AFG',
 'ENG',
 'WI',
 'SA',
 'NZ',
 'SL',
 'IRE',
 'IND',
 'SA',
 'IND',
 'IND',
 'WI',
 'SL',
 'UAE',
 'SL',
 'PAK',
 'NZ',
 'IRE',
 'ENG',
 'NZ',
 'ENG',
 '',
 'SA',
 'SCO',
 'PAK',
 'PAK',
 'PAK',
 'AUS',
 'UAE',
 'ZIM',
 'SA',
 'BAN',
 'BAN',
 'SCO',
 'IRE',
 'NZ',
 'ZIM',
 'ENG',
 'SL',
 'WI',
 'ENG',
 'PAK',
 'PAK',
 'WI',
 'ENG',
 'SL',
 'AUS',
 'BAN',
 'SA',
 'SCO',
 'ZIM',
 'USA',
 'AUS',
 'ZIM',
 'ENG',
 'IND',
 'IRE',
 'SL',
 'NEP',
 'BAN',
 'AFG',
 'IND',
 'SCO',
 'AUS',
 'IRE',
 'AUS',
 'OMA',
 'PNG',
 'BAN',
 'OMA',
 'PNG',
 'PAK',
 'SL',
 'ZIM',
 'NED',
 'WI',
 'NZ',
 'PNG',
 'SCO',
 'AFG']

In [38]:
R = []

for i in soup.find_all('td',class_='table-body__cell rating'):
    R.append(i.text)
    
R

['709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646',
 '640',
 '636',
 '630',
 '628',
 '626',
 '625',
 '621',
 '619',
 '609',
 '603',
 '596',
 '594',
 '592',
 '590',
 '583',
 '583',
 '579',
 '566',
 '562',
 '562',
 '550',
 '541',
 '531',
 '531',
 '525',
 '517',
 '508',
 '507',
 '501',
 '500',
 '497',
 '496',
 '494',
 '490',
 '488',
 '483',
 '482',
 '480',
 '477',
 '470',
 '469',
 '469',
 '468',
 '467',
 '463',
 '458',
 '458',
 '454',
 '453',
 '451',
 '449',
 '447',
 '445',
 '443',
 '436',
 '436',
 '436',
 '434',
 '432',
 '427',
 '424',
 '419',
 '416',
 '413',
 '410',
 '405',
 '405',
 '401',
 '400',
 '400',
 '399',
 '394',
 '394',
 '390',
 '385',
 '377',
 '377',
 '375',
 '374',
 '373',
 '371',
 '370',
 '370',
 '362',
 '358',
 '355',
 '352',
 '351',
 '351',
 '347']

In [39]:
print(len(P),len(T),len(R))

99 99 99

In [40]:
import pandas as pd

In [41]:
df = pd.DataFrame({'PLAYER':P,'TEAM':T,'RATING':R})

In [42]:
df

                    PLAYER TEAM RATING
0       \nJosh Hazlewood\n  AUS    709
1     \nMujeeb Ur Rahman\n  AFG    708
2         \nChris Woakes\n  ENG    700
3         \nMehedi Hasan\n  BAN    692
4           \nMatt Henry\n   NZ    691
..                     ...  ...    ...
94       \nOshane Thomas\n   WI    355
95       \nKyle Jamieson\n   NZ    352
96       \nCharles Amini\n  PNG    351
97       \nMichael Leask\n  SCO    351
98  \nSharafuddin Ashraf\n  AFG    347

[99 rows x 3 columns]

In [43]:
df.sort_values('RATING',ascending=False).head(10)

                  PLAYER TEAM RATING
0     \nJosh Hazlewood\n  AUS    709
1   \nMujeeb Ur Rahman\n  AFG    708
2       \nChris Woakes\n  ENG    700
3       \nMehedi Hasan\n  BAN    692
4         \nMatt Henry\n   NZ    691
5     \nJasprit Bumrah\n  IND    679
6     \nMitchell Starc\n  AUS    652
7    \nShakib Al Hasan\n  BAN    650
8      \nKagiso Rabada\n   SA    646
9  \nMustafizur Rahman\n  BAN    640

# QUESTION NUMBER 5(ii)

In [2]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
r = requests.get(url)
htmlcontent = r.content

In [3]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [4]:
team = []

for i in bs.find_all('td',class_='table-body__cell nationality-logo'):
    team.append(i.text)
team

['\n\nAUS\n',
 '\n\nIND\n',
 '\n\nENG\n',
 '\n\nNZ\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nAUS\n',
 '\n\nENG\n',
 '\n\nSA\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nSA\n',
 '\n\nENG\n',
 '\n\nSA\n',
 '\n\nENG\n',
 '\n\nSA\n',
 '\n\nENG\n',
 '\n\nENG\n',
 '\n\nENG\n',
 '\n\nAUS\n',
 '\n\nWI\n',
 '\n\nIND\n',
 '\n\nAUS\n',
 '\n\nSA\n',
 '\n\nAUS\n',
 '\n\nENG\n',
 '\n\nIND\n']

In [5]:
player = []

for i in bs.find_all('td',class_='table-body__cell name'):
    player.append(i.text)
player

['\nAlyssa Healy\n',
 '\nMithali Raj\n',
 '\nTammy Beaumont\n',
 '\nAmy Satterthwaite\n',
 '\nSmriti Mandhana\n',
 '\nMeg Lanning\n',
 '\nBeth Mooney\n',
 '\nHeather Knight\n',
 '\nLaura Wolvaardt\n',
 '\nJhulan Goswami\n',
 '\nMegan Schutt\n',
 '\nMarizanne Kapp\n',
 '\nSophie Ecclestone\n',
 '\nShabnim Ismail\n',
 '\nKatherine Brunt\n',
 '\nAyabonga Khaka\n',
 '\nAnya Shrubsole\n',
 '\nKate Cross\n',
 '\nNatalie Sciver\n',
 '\nEllyse Perry\n',
 '\nStafanie Taylor\n',
 '\nDeepti Sharma\n',
 '\nAshleigh Gardner\n',
 '\nDane van Niekerk\n',
 '\nJess Jonassen\n',
 '\nKatherine Brunt\n',
 '\nJhulan Goswami\n']

In [6]:
rating = []

for i in bs.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text)
rating

['750',
 '738',
 '728',
 '717',
 '710',
 '699',
 '690',
 '674',
 '672',
 '727',
 '717',
 '715',
 '701',
 '688',
 '666',
 '643',
 '598',
 '589',
 '372',
 '365',
 '322',
 '299',
 '275',
 '274',
 '272',
 '272',
 '251']

In [7]:
print(len(team),len(player),len(rating))

27 27 27

In [9]:
import pandas as pd
df = pd.DataFrame({'TEAM':team,'PLAYER':player,'RATING':rating})

In [10]:
df.sort_values('RATING',ascending=False).head(10)

         TEAM                 PLAYER RATING
0   \n\nAUS\n       \nAlyssa Healy\n    750
1   \n\nIND\n        \nMithali Raj\n    738
2   \n\nENG\n     \nTammy Beaumont\n    728
9   \n\nIND\n     \nJhulan Goswami\n    727
3    \n\nNZ\n  \nAmy Satterthwaite\n    717
10  \n\nAUS\n       \nMegan Schutt\n    717
11   \n\nSA\n     \nMarizanne Kapp\n    715
4   \n\nIND\n    \nSmriti Mandhana\n    710
12  \n\nENG\n  \nSophie Ecclestone\n    701
5   \n\nAUS\n        \nMeg Lanning\n    699

# QUESTION NUMBER 5(iii)

In [11]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
import requests
from bs4 import BeautifulSoup
r = requests.get(url)
htmlcontent = r.content
soup = BeautifulSoup(htmlcontent,'html.parser')

In [12]:
p = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    p.append(i.text)
p

['\nNatalie Sciver\n',
 '\nEllyse Perry\n',
 '\nStafanie Taylor\n',
 '\nDeepti Sharma\n',
 '\nAshleigh Gardner\n',
 '\nDane van Niekerk\n',
 '\nJess Jonassen\n',
 '\nKatherine Brunt\n',
 '\nJhulan Goswami\n',
 '\nSophie Devine\n',
 '\nHayley Matthews\n',
 '\nHeather Knight\n',
 '\nAmelia Kerr\n',
 '\nNida Dar\n',
 '\nShikha Pandey\n',
 '\nRumana Ahmed\n',
 '\nChamari Athapaththu\n',
 '\nDeandra Dottin\n',
 '\nKate Cross\n']

In [13]:
t = []

for i in soup.find_all('span',class_='table-body__logo-text'):
    t.append(i.text)
t

['ENG',
 'AUS',
 'WI',
 'IND',
 'AUS',
 'SA',
 'AUS',
 'ENG',
 'IND',
 'NZ',
 'WI',
 'ENG',
 'NZ',
 'PAK',
 'IND',
 'BAN',
 'SL',
 'WI',
 'ENG']

In [14]:
r = []

for i in soup.find_all('td',class_='table-body__cell rating'):
    r.append(i.text)
r

['372',
 '365',
 '322',
 '299',
 '275',
 '274',
 '272',
 '272',
 '251',
 '248',
 '220',
 '195',
 '193',
 '176',
 '173',
 '169',
 '147',
 '142',
 '141']

In [15]:
import pandas as pd
df = pd.DataFrame({'PLAYER':p,'TEAM':t,'RATING':r})

In [16]:
df.sort_values('RATING',ascending=False).head(10)

                 PLAYER TEAM RATING
0    \nNatalie Sciver\n  ENG    372
1      \nEllyse Perry\n  AUS    365
2   \nStafanie Taylor\n   WI    322
3     \nDeepti Sharma\n  IND    299
4  \nAshleigh Gardner\n  AUS    275
5  \nDane van Niekerk\n   SA    274
6     \nJess Jonassen\n  AUS    272
7   \nKatherine Brunt\n  ENG    272
8    \nJhulan Goswami\n  IND    251
9     \nSophie Devine\n   NZ    248

# QUESTION NUMBER 6

In [1]:
import requests

In [2]:
url ='https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1634564842&rnid=1318502031&ref=lp_1389401031_nr_p_36_3'

In [3]:
r = requests.get(url)

In [4]:
htmlcontent = r.content

In [5]:
from bs4 import BeautifulSoup

In [6]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [7]:
product = []

for i in soup.find_all('span' ,class_='a-size-base a-color-base a-text-normal'):
    product.append(i.text)
    
product

['Redmi 9 Activ (Coral Green, 6GB RAM, 128GB Storage)',
 'Redmi Note 10S (Deep Sea Blue, 6GB RAM, 64GB Storage) -Super Amoled Display | 64 MP Quad Camera | Alexa Built in',
 'Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'OPPO A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'OPPO A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128GB Storage)',
 'Redmi 9 Power (Mighty Black 4GB RAM 64GB Storage) - 6000mAh Battery |FHD+ Screen | 48MP Quad Camera | Alexa Hands-Free Capable',
 'realme narzo 50A (Oxygen Blue, 4GB RAM + 128GB Storage) - with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Black,6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Redmi Note 10S (Frost White, 6GB RAM, 64GB Storage) - Super Amoled Display | 64 MP Quad Camera | Alexa Built in',
 'realme narzo 50A (Oxygen Green, 4GB RAM + 128GB Storage) - with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Alexa Hands-Free Capable',
 'Samsung Galaxy M32 (Light Blue, 6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Samsung Galaxy M32 (Black, 6GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Samsung Galaxy M32 (Light Blue, 4GB RAM, 64GB Storage) 6 Months Free Screen Replacement for Prime',
 'OPPO A74 5G (Fantastic Purple,6GB RAM,128GB Storage) - 5G Android Smartphone | 5000 mAh Battery | 18W Fast Charge | 90Hz LCD Display',
 'OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage) - 5G Android Smartphone | 5000 mAh Battery | 18W Fast Charge | 90Hz LCD Display',
 'Apple AirPods Pro',
 'Samsung Galaxy M32 5G (Slate Black, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M32 (Black, 4GB RAM, 64GB Storage) 6 Months Free Screen Replacement for Prime',
 'Redmi 9 Activ (Carbon Black, 6GB RAM, 128GB Storage)',
 "iQOO Z3 5G (Ace Black, 6GB RAM, 128GB Storage) | India's First SD 768G 5G Processor | 55W FlashCharge | Upto 9 Months No Cost EMI | 6 Months Free Screen Replacement",
 'Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Samsung Galaxy M21 2021 Edition (Arctic Blue, 4GB RAM, 64GB Storage) | FHD+ sAMOLED | 6 Months Free Screen Replacement for Prime (SM-M215GLBDINS)']

In [8]:
price = []

for i in soup.find_all('span' ,class_='a-price-whole'):
    price.append(i.text)
    
price

['10,999',
 '13,999',
 '11,499',
 '11,490',
 '11,490',
 '16,999',
 '10,999',
 '12,499',
 '11,499',
 '13,999',
 '12,499',
 '10,999',
 '14,999',
 '14,999',
 '12,999',
 '15,990',
 '15,990',
 '17,990',
 '16,999',
 '12,999',
 '10,999',
 '17,990',
 '16,999',
 '11,999']

In [14]:
img = []

for i in soup.find_all('img' ,class_='s-image'):
    img.append(i['src'])
    
img

['https://m.media-amazon.com/images/I/91kAtEXPIeL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/81B0HJigO-L._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71r69Y7BSeL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71os5DRhuSL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71hgVYiuFXL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/7162Y5fPdkL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/81SJHWh-dfL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/718CklLKXmL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71F4jU7MRUS._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71Q3iSQAwAS._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71F4jU7MRUS._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71geVdy6-OS._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71poFSdDs5S._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71zny7BTRlL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71QT7dSK4BL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71Q3iSQAwAS._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/911TJ1CDbLL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/61uIgwiP90S._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UL320_.jpg',
 'https://m.media-amazon.com/images/I/811lrGbXwIL._AC_UL320_.jpg']

In [10]:
rating = []

for i in soup.find_all('div' ,class_='a-section a-spacing-none a-spacing-top-micro'):
    rating.append(i.text.split('|')[0])
    
rating

['4.2 out of 5 stars 98,799  ',
 'FREE DeliveryIn stock on November 10, 2021.',
 '4.0 out of 5 stars 18,780  ',
 ' Get it by Tomorrow, October 20FREE Delivery by Amazon',
 '4.1 out of 5 stars 50,177  ',
 'FREE Delivery by AmazonIn stock on October 26, 2021.',
 '4.2 out of 5 stars 32,426  ',
 ' Get it by Tomorrow, October 20FREE Delivery by Amazon',
 '4.2 out of 5 stars 32,426  ',
 ' Get it by Thursday, October 21FREE Delivery by Amazon',
 '3.8 out of 5 stars 1,441  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon',
 '4.2 out of 5 stars 82,557  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon',
 '3.7 out of 5 stars 74  ',
 ' Get it by Thursday, October 21FREE Delivery by Amazon',
 '4.1 out of 5 stars 50,177  ',
 'FREE Delivery by AmazonIn stock on October 25, 2021.',
 '4.0 out of 5 stars 18,780  ',
 ' Get it by Thursday, October 21FREE Delivery by Amazon',
 '3.8 out of 5 stars 63  ',
 ' Get it by Thursday, October 21FREE Delivery by Amazon',
 '4.2 out of 5 stars 82,557  ',
 ' FREE Delivery by AmazonUsually dispatched in 14 days.',
 '4.2 out of 5 stars 9,493  ',
 ' Get it by Tomorrow, October 20FREE Delivery by Amazon',
 '4.2 out of 5 stars 9,493  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon',
 '4.2 out of 5 stars 9,493  ',
 ' FREE Delivery by Amazon',
 '4.2 out of 5 stars 8,744  ',
 ' Get it by Tomorrow, October 20FREE Delivery by Amazon',
 '4.2 out of 5 stars 8,744  ',
 ' Get it by Tomorrow, October 20FREE Delivery by Amazon',
 '4.4 out of 5 stars 6,330  ',
 ' Get it by Thursday, October 21FREE Delivery by Amazon',
 '3.8 out of 5 stars 1,441  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon',
 '4.2 out of 5 stars 9,493  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon',
 '4.2 out of 5 stars 98,799  ',
 'FREE Delivery by AmazonIn stock on November 7, 2021.',
 '4.3 out of 5 stars 21,468  ',
 ' Get it by Tomorrow, October 20FREE Delivery by Amazon',
 '4.2 out of 5 stars 256,997  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon',
 '4.2 out of 5 stars 180,409  ',
 ' Get it by Tomorrow 11AMFREE Delivery by Amazon']

# Question number 7

In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests

In [3]:
url = 'https://www.nobroker.in/property/sale/bangalore/Electronic City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0 '

In [4]:
r = requests.get(url)

In [5]:
htmlcontent = r.content

In [6]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(htmlcontent,'html.parser')

In [7]:
house_title = []

for i in soup.find_all('span' ,itemprop='name'):
    house_title.append(i.text)
    
house_title

['Home ',
 'Bangalore',
 '4 BHK In Independent House  For Sale  In Hebbagodi',
 '4 BHK In Independent House  For Sale  In Hebbagodi',
 'Independent House, Bangalore - Hosur Road, Near  National Public School',
 '4 BHK Flat  For Sale  In , Electronic City',
 '4 BHK Flat  For Sale  In , Electronic City',
 'Standalone Building, 16th Cross Road Neeladri Nagar, near by brand factory',
 '4 BHK Flat  For Sale  In Hosa Road, Parappana Agrahara',
 '4 BHK Flat  For Sale  In Hosa Road, Parappana Agrahara',
 'Standalone Building, 11th cross.anjanadri lay out',
 '4 BHK In Independent House  For Sale  In Electronic City',
 '4 BHK In Independent House  For Sale  In Electronic City',
 'Independent House, surya nagar face 1',
 '4 BHK In Independent House  For Sale  In Electronic City',
 '4 BHK In Independent House  For Sale  In Electronic City',
 'Independent House, Hosur Rd,Near Infosys Limited',
 '4 BHK Flat  For Sale  In Sobha Silicon Oasis  In Hosa Road',
 '4 BHK Flat  For Sale  In Sobha Silicon Oasis  In Hosa Road',
 'Sobha Silicon Oasis Naganathapura, Rayasandra Bengaluru, Karnataka 560100 India',
 '4 BHK Apartment  For Sale  In Gopalan Gardenia In Electronic City',
 '4 BHK Flat  For Sale  In Gopalan Gardenia In Electronic City',
 'Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India',
 '4 BHK For Sale  In Gpr Royale In Gpr Royale',
 '4 BHK For Sale  In Gpr Royale In Gpr Royale',
 '6th Cross',
 '4 BHK Flat  For Sale  In Electronic City',
 '4 BHK Flat  For Sale  In Electronic City',
 'Standalone Building, Shikaripalya near Shams School',
 '4 BHK In Independent House  For Sale  In Sarjapura',
 '4 BHK In Independent House  For Sale  In Sarjapura',
 'Independent House,  Shantipura Village , S.P Layout , near  Shantipura Panchayat Office',
 'Flats in  Vidyanagar  for sale',
 'Flats in  LHR Layout  for sale',
 'Flats in  Basapura  for sale',
 'Flats in  Hebbagodi  for sale',
 'Flats in  Electronic City  for sale',
 'Flats in  Chikkathoguru Village  for sale']

In [8]:
location = []

for i in soup.find_all('div' ,class_='nb__2CMjv'):
    location.append(i.text)
    
location

['Independent House, Bangalore - Hosur Road, Near  National Public School',
 'Standalone Building, 16th Cross Road Neeladri Nagar, near by brand factory',
 'Standalone Building, 11th cross.anjanadri lay out',
 'Independent House, surya nagar face 1',
 'Independent House, Hosur Rd,Near Infosys Limited',
 'Sobha Silicon Oasis Naganathapura, Rayasandra Bengaluru, Karnataka 560100 India',
 'Gopalan Gardenia\xa0 Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India',
 '6th Cross',
 'Standalone Building, Shikaripalya near Shams School',
 'Independent House,  Shantipura Village , S.P Layout , near  Shantipura Panchayat Office']

In [9]:
area = []

for i in soup.find_all('div',class_='nb__3oNyC'):
    area.append(i.text)
    
area

['1,800 sqft',
 '2,000 sqft',
 '3,000 sqft',
 '3,000 sqft',
 '1,200 sqft',
 '1,879 sqft',
 '2,650 sqft',
 '3,100 sqft',
 '1,400 sqft',
 '1,100 sqft']

In [10]:
Emi = []

for i in soup.find_all('div',class_='font-semi-bold heading-6'):
    Emi.append(i.text)
    
Emi

['1,800 sqft',
 '₹77,374/Month',
 '₹1.35 Crores',
 '2,000 sqft',
 '₹39,546/Month',
 '₹69 Lacs',
 '3,000 sqft',
 '₹71,643/Month',
 '₹1.25 Crores',
 '3,000 sqft',
 '₹1.43 Lacs/Month',
 '₹2.5 Crores',
 '1,200 sqft',
 '₹42,985/Month',
 '₹75 Lacs',
 '1,879 sqft',
 '₹88,837/Month',
 '₹1.55 Crores',
 '2,650 sqft',
 '₹68,777/Month',
 '₹1.2 Crores',
 '3,100 sqft',
 '₹85,971/Month',
 '₹1.5 Crores',
 '1,400 sqft',
 '₹20,060/Month',
 '₹35 Lacs',
 '1,100 sqft',
 '₹40,120/Month',
 '₹70 Lacs']

In [11]:
Price = []

for i in soup.find_all('div',class_='heading-7'):
    Price.append(i.text)
    
Price

['Builtup',
 'Estimated EMI',
 '₹7,500 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹3,450 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,167 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹8,333 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹6,250 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹8,249 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,528 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹4,839 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹2,500 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking',
 'Builtup',
 'Estimated EMI',
 '₹6,364 per sq.ft.',
 'Facing',
 'Apartment Type',
 'Bathrooms',
 'Parking']

# QUESTION NUMBER 8

In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [9]:
#!pip install html5lib

Requirement already satisfied: html5lib in c:\users\acer\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\acer\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from html5lib) (1.15.0)

In [10]:
from urllib.request import urlopen

In [19]:
url= 'https://www.dineout.co.in/delhi-restaurants/buffet-special'

In [20]:
r = requests.get(url)

In [23]:
htmlcontent = r.content

In [24]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [25]:
restaurant = []

for i in soup.find_all('div' ,class_='restnt-info cursor'):
    restaurant.append(i.text)
    
restaurant

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [26]:
cusine = []

for i in soup.find_all('span' ,class_='double-line-ellipsis'):
    cusine.append(i.text)
    
cusine

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,400 for 2 (approx) | North Indian, Barbecue, Italian, Asian',
 '₹ 2,000 for 2 (approx) | North Indian, Chinese',
 '₹ 3,000 for 2 (approx) | Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 '₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mughlai, North Indian',
 '₹ 2,400 for 2 (approx) | North Indian, Italian, Oriental ',
 '₹ 1,500 for 2 (approx) | Barbecue, North Indian',
 '₹ 1,600 for 2 (approx) | North Indian, Chinese, Fast Food',
 '₹ 900 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai, Barbecue',
 '₹ 800 for 2 (approx) | North Indian, Mughlai',
 '₹ 1,500 for 2 (approx) | Barbecue, Chinese, North Indian',
 '₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian, European, Italian, North Indian']

In [27]:
location = []

for i in soup.find_all('div' ,class_='restnt-loc ellipsis'):
    location.append(i.text)
    
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [28]:
rating = []

for i in soup.find_all('div' ,class_='restnt-rating rating-3'):
    rating.append(i.text)
    
rating

['3.4']

In [29]:
img = []

for i in soup.find_all('img' ,class_='no-img'):
    img.append(i['data-src'])
    
img

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

In [30]:
import pandas as pd

In [31]:
print(len(restaurant),len(cusine),len(location),len(rating),len(img))

13 13 13 1 13

In [32]:
df = pd.DataFrame({'Restaurant':restaurant,'Cusine':cusine,'Location':location,'Img_Url':img})

In [33]:
df

,Restaurant,Cusine,Location,Img_Url
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","₹ 1,400 for 2 (approx) | North Indian, Barbecu...","3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","₹ 2,000 for 2 (approx) | North Indian, Chinese","Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Multi-Cuisine, North ...","The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,800 for 2 (approx) | Barbecue, Chinese, Mu...","Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian...","Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,500 for 2 (approx) | Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,600 for 2 (approx) | North Indian, Chinese...","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","₹ 900 for 2 (approx) | North Indian, Chinese, ...","Vibe by The Lalit Traveller,Sector 35, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","₹ 2,200 for 2 (approx) | North Indian, Mughlai...","Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","₹ 800 for 2 (approx) | North Indian, Mughlai","Sector 29, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","₹ 1,500 for 2 (approx) | Barbecue, Chinese, No...","NIT, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"₹ 3,400 for 2 (approx) | Multi-Cuisine, Asian,...","DoubleTree By Hilton Gurugram Baani Square,Sec...",https://im1.dineout.co.in/images/uploads/resta...

# QUESTION NUMBER 9

In [10]:
import requests

In [11]:
url = 'https://en.tutiempo.net/delhi.html?data=last-24-hours'

In [12]:
r = requests.get(url)

In [13]:
htmlcontent = r.content

In [14]:
from bs4 import BeautifulSoup

In [15]:
soup = BeautifulSoup(htmlcontent,'html.parser')

In [16]:
hour = []

for i in soup.find_all('td' ,class_='15:30'):
    hour.append(i.text)
    
hour

[]

In [17]:
temperature = []

for i in soup.find_all('td' ,class_='t Temp'):
    temperature.append(i.text)
    
temperature

['29°C',
 '30°C',
 '30°C',
 '30°C',
 '30°C',
 '29°C',
 '28°C',
 '28°C',
 '28°C',
 '27°C',
 '26°C',
 '26°C',
 '25°C',
 '24°C',
 '23°C',
 '23°C',
 '22°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '21°C',
 '22°C',
 '22°C',
 '22°C',
 '22°C',
 '22°C',
 '22°C',
 '22°C',
 '22°C',
 '22°C',
 '23°C',
 '23°C',
 '23°C',
 '23°C',
 '23°C',
 '23°C']

In [18]:
wind = []

for i in soup.find_all('td' ,class_='wind'):
    wind.append(i.text)

wind

['20 km/h',
 '13 > 32 km/h',
 '13 > 32 km/h',
 '15 > 33 km/h',
 '13 > 32 km/h',
 '15 > 33 km/h',
 '15 > 33 km/h',
 '15 > 33 km/h',
 '15 > 33 km/h',
 '20 km/h',
 '20 km/h',
 '20 km/h',
 '20 km/h',
 '20 km/h',
 '19 km/h',
 '15 km/h',
 '13 km/h',
 '9 km/h',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 '6 km/h',
 'Calm',
 'Calm',
 'Calm',
 '7 km/h',
 '9 km/h',
 '7 km/h',
 '7 km/h',
 '9 km/h',
 '9 km/h',
 '9 km/h',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 'Calm',
 '7 km/h',
 '6 km/h',
 '9 km/h',
 '9 km/h',
 '9 km/h',
 '11 km/h',
 '11 km/h',
 '11 km/h',
 '11 km/h']

In [19]:
weather = []

for i in soup.find_all('span' ,class_='thhip ico i0530 u304'):
    weather.append(i.text)
    
weather

['Partly Cloudy',
 'Partly Cloudy',
 'Partly Cloudy',
 'Partly Cloudy',
 'Partly Cloudy']

In [49]:
humidity = []

for i in soup.find_all('td' ,class_="hr"):
    humidity.append(i.text)
    
humidity

['55%',
 '55%',
 '55%',
 '59%',
 '66%',
 '70%',
 '74%',
 '74%',
 '74%',
 '79%',
 '79%',
 '83%',
 '89%',
 '89%',
 '89%',
 '88%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '94%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '88%',
 '89%',
 '89%',
 '89%',
 '89%',
 '94%',
 '94%',
 '94%']

In [50]:
pressure = []

for i in soup.find_all('td' ,class_='prob'):
    pressure.append(i.text)
    
pressure

['1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1008 hPa',
 '1008 hPa',
 '1008 hPa',
 '1008 hPa',
 '1009 hPa',
 '1009 hPa',
 '1010 hPa',
 '1010 hPa',
 '1010 hPa',
 '1010 hPa',
 '1010 hPa',
 '1009 hPa',
 '1009 hPa',
 '1009 hPa',
 '1008 hPa',
 '1008 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1007 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa',
 '1006 hPa']

# QUESTION NUMBER 10

In [1]:
import requests

In [2]:
url = 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'

In [3]:
r = requests.get(url)

In [4]:
htmlcontent = r.content

In [5]:
from bs4 import BeautifulSoup

In [6]:
bs = BeautifulSoup(htmlcontent,'html.parser')

In [47]:
Name = []

for i in bs.find_all('div',class_='blog--single__content column--3-4 u-spacing-third'):
    Name.append(i.text.split('\n'))
    
for i in range(1,30,3):

    Name.append(temp[i])
    
Name

[['',
  'Top 10 Famous Monuments to Visit In India',
  'Rich in culture and diversity, India is home to some of the finest historical monuments in the world. Most recognised by the UNESCO World Heritage Site, the famous Indian monuments include the beautiful Taj Mahal, the sacred Golden Temple and the cultural site, Hawa Mahal. Discover and experience the magnificent insights into India’s rich heritage and ancient architecture. Read on for our list of the top must see historical monuments in India below.',
  'Taj Mahal, Agra',
  'Enlisted in the Seven Wonders of the World, The Taj Mahal is one of the most beautiful and famous buildings located in the city of Agra. This white marble monument was built by a Mughal Emperor called Shahajahan in memory of his beloved wife. Due to its amazing architecture and the history behind it, this world heritage site has become very popular to visit by all travellers and romantics from all over the world.',
  '',
  'Golden Temple (Harmandir Sahib), Amritsar ',
  'The holiest shrine and pilgrimage place located in Amritsar is The Golden Temple known as the Harmandir Sahib. This is the most famous and sacred Sikh Gurdwara in Punjab, India, adorned with rich history and gold gilded exterior. If you are interested in culture and history, be sure to visit this popular attraction in India.',
  '',
  'Meenakshi Temple, Madurai',
  'Meenakshi Temple is situated on the Southern banks of Vaigai River in the temple city Madurai. This temple is dedicated to Parvati and her consort, Shiva and is visited by most Hindu and Tamil devotees and architectural lovers throughout the world. It is believed that this shrine houses 33,000 sculptures in its 14 gopurams. It’s no doubt one place to visit if you are impressed with art and cultural history.',
  '',
  'Mysore Palace, Mysore',
  'The Mysore Palace is a famous historical monument in the city of Mysore in Karnataka. Commonly described as the City of Palaces, this is the most famous tourist attraction in India after the Taj Mahal. It is a sight not be missed with its spacious halls, lovely art paintings and Indo-Saracenic style architecture. Best time to visit is at night due to the astonishing illuminated lights covering the whole monument.',
  '',
  'Gateway of India, Mumbai',
  'Even though Mumbai is famous for its Bollywood actors and movies, the most famous attraction in Mumbai is The Gateway of India. It is a popular gathering spot for locals, travellers, street vendors and photographers and is known as the Taj Mahal of Mumbai. The majestic monument was built to commemorate the visit of King George V and Queen Mary to Bombay. With so much fun and excitement this place is not to be missed with family or on your tour of India.',
  '',
  'Red Fort, New Delhi',
  'Declared as the UNESCO’s World Heritage Site, Red Fort is located in the centre of beautiful Delhi. If you love learning about history and culture then this famous historic monument is a must see place to visit. Built by the Mughal Emperor, Shah Jahan in 1648, and housing a number of museums, its walls are built of red sandstone. The best time to visit is on Independence Day where the Prime Minister of India hoists the national flag at the Red Fort. End the day by heading to an Indian restaurant and enjoy the varieties of wonderful cuisines.',
  '',
  'Hawa Mahal, Jaipur',
  'Explore a blend of beauty and Rajasthan culture, the Hawa Mahal also known as Palace of Winds is situated in the capital of Rajasthan, Jaipur. Built from red and pink sandstones by the Maharaja Sawi Pratap Singh in 1799, this unique five storey structure is one of the most prominent tourist attractions in the Jaipur city.',
  '',
  'Qutub Minar, New Delhi',
  'Discover one of the tallest towers in the world and the second tallest Minar of India standing elegantly in the Capital city, New Delhi. Standing at 72.5 metres and consisting of around 379 stairs, this famous monument represents the rich architecture of India. As it is a UNESCO World Heritage Site made of red sandstone and decorated with Arabic and Brahmi inscriptions, travellers from around the world come to view this most famous tower in India.',
  '',
  'Sanchi Stupa, Sanchi',
  'The beautiful and massive dome, Sanchi Stupa also known as the Great Stupa is a world renowned Buddhist monument in Sanchi, India. It was constructed by Emperor Ashoka, and is one of the oldest stone structures in the heart of India. Experience the Indian culture by visiting these major attractions in Sanchi including a number of Buddhist Stupas, monasteries and temples.',
  '',
  'Charminar, Hyderabad',
  'No visit to Hyderabad should be complete without visiting the most famous and majestic monument known as the Charminar. This magnificent and striking mosque constructed in 1591 has four minarets and is the most recognisable symbol in the city of Hyderabad.',
  '',
  'Things to know before planning your trip to India',
  '',
  'When travelling to India it’s important to make sure you are up-to-date with travel requirements including obtaining an India visa.',
  'It takes around 9 hours and 42 minutes to fly to India from the UK.',
  'Bring your credit or debit card, but rely on cash to pay for most things. India’s currency is the Indian Rupee.',
  'The best time to visit India is between October and March.',
  '',
  'Are you inspired to plan an incredible trip to India? Get in touch with Pure Destinations today to speak to a travel expert to plan a tailor made itinerary.\xa0Fancy exploring these famous monuments in India? Why not\xa0contact\xa0us today!',
  ''],
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'https://www.puredestinations.co.uk/wp-content/uploads/2016/11/INDIA-BLOG-HEADER-1600x500.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/accreditations/protected.png']

In [45]:
temp = [] # scraping all image url's

for i in bs.find_all('img'):

    temp.append(i['src'])
    
temp

['https://www.facebook.com/tr?id=120737145081077&ev=PageView\n&noscript=1',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/logo/puredestinations.png',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'https://www.puredestinations.co.uk/wp-content/uploads/2016/11/INDIA-BLOG-HEADER-1600x500.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/TAJ-MAHAL-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Golden-Temple-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/meenakshi-temple-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Mysore-palace-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/gateway-to-india-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/red-fort-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/HAWA-MAHAL-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/qutub-minar-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Sanchi-Stupi-PD-BLOG.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'http://www.puredestinations.co.uk/wp-content/uploads/2016/11/Charminar-PD-BLOG-1.jpg',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/accreditations/abta.png',
 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
 'https://www.puredestinations.co.uk/wp-content/themes/puredestinations/images/accreditations/protected.png',
 'https://www.facebook.com/tr?id=106387616371570&ev=PageView&noscript=1']